@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
$primary_font: "Roboto Condensed", sans-serif;
$primary_color: #9cd3f7;
$secondary_color: #001863;
$txt_color: #202020;
$white: #ffffff;
